Thermode/force-app/main/default/flows/OpportunityClonerNew.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignOpp</name>
        <label>AssignOpp</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>oppRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpps.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpps.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpps.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpps.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpps.StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOppList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOppList</name>
        <label>AssignOppList</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>oppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckOpportunities</name>
        <label>CheckOpportunities</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>OppNotFound</defaultConnectorLabel>
        <rules>
            <name>OppFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunities</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOpps</targetReference>
            </connector>
            <label>OppFound</label>
        </rules>
    </decisions>
    <description>This flow will clone all the opportunity related to an aacount also handle bulkification.</description>
    <environments>Default</environments>
    <interviewLabel>OpportunityClonerNew {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityClonerNew</label>
    <loops>
        <name>LoopOpps</name>
        <label>LoopOpps</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>GetOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOpp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOpp</name>
        <label>CreateOpp</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>oppList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOpportunities</name>
        <label>GetOpportunities</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOpportunities</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandling</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ErrorHandling</name>
        <label>ErrorHandling</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(240, 5, 5);&quot;&gt;Inavlid Id entered.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please enter a valid salesforce Id.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>oppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
