Thermode/force-app/main/default/flows/Opportunity_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>138</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>selected_Oppty.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oppListOwnerChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_10</name>
        <label>Assignment 10</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>afterIndustryFilterOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Industry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BillingCity_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_11</name>
        <label>Assignment 11</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>afterIndustryFilterOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>afterOwnerFilterOppList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BillingCity_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_12</name>
        <label>Assignment 12</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>afterBillingCityFilterOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_BillingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Cases_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_13</name>
        <label>Assignment 13</label>
        <locationX>446</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>afterBillingCityFilterOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>afterIndustryFilterOppList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Cases_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_14</name>
        <label>Assignment 14</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>afterOpenCaseFilterOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_OpenCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListOfOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_15</name>
        <label>Assignment 15</label>
        <locationX>446</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>afterOpenCaseFilterOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>afterBillingCityFilterOppList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListOfOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>afterFilterOppRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Closed_Date_Range</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StageFilter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Filter_Closed_Date</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppListCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StageFilter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Assignment 5</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>afterFilterOppRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetListOfOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StageFilter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_6</name>
        <label>Assignment 6</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>afterstageFilterOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_7</name>
        <label>Assignment 7</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>afterstageFilterOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>afterFilterOppRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_8</name>
        <label>Assignment 8</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>afterOwnerFilterOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Industry_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_9</name>
        <label>Assignment 9</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>afterOwnerFilterOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>afterstageFilterOppList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Industry_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>oppListOwnerChange</name>
        <label>oppListOwnerChange</label>
        <locationX>138</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>oppListCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selected_Oppty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selected_Oppty</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_BillingCity</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter BillingCity</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <assignNextValueToReference>currentItem_Filter_BillingCity</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>afterOwnerFilterOppList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_BillingCity.Account_BillingCity__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>BillingCity</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_12</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Closed_Date</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Closed Date</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_Closed_Date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetListOfOpp</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Closed_Date.CloseDate</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>CloseDate1</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_4</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Closed_Date_Range</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Closed Date Range</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_Closed_Date_Range</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetListOfOpp</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Closed_Date_Range.CloseDate</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>CloseDate1</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Closed_Date_Range.CloseDate</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>CloseDate2</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_3</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Industry</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Industry</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <assignNextValueToReference>currentItem_Filter_Industry</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>afterOwnerFilterOppList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Industry.Account_Industry__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Industry</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_10</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_OpenCases</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter OpenCases</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <assignNextValueToReference>currentItem_Filter_OpenCases</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>afterBillingCityFilterOppList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_OpenCases.Open_Case_Count__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Number_of_Open_Case</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_14</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Owner</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Owner</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignNextValueToReference>currentItem_Filter_Owner</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>afterstageFilterOppList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Owner.OwnerId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Owner.recordId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_8</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Stage</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Stage</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNextValueToReference>currentItem_Filter_Stage</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>afterFilterOppRecords</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Stage.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Stage</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_6</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>BillingCity_Filter</name>
        <label>BillingCity Filter</label>
        <locationX>314</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Assignment_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_in_BillingCity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingCity</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_BillingCity</targetReference>
            </connector>
            <label>Filter in BillingCity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Oppty_List</name>
        <label>Check Oppty List</label>
        <locationX>314</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>WarningMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oppty_List_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dataTable.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectOwner</targetReference>
            </connector>
            <label>Oppty List not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Close_Date_Filter</name>
        <label>Close Date Filter</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assignment_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>closeDate_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseDate1</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CloseDate2</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Closed_Date</targetReference>
            </connector>
            <label>closeDate is present</label>
        </rules>
        <rules>
            <name>both_closeDate_are_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseDate1</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CloseDate2</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Closed_Date_Range</targetReference>
            </connector>
            <label>both closeDate are present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Industry_Filter</name>
        <label>Industry Filter</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Assignment_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_in_Industry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Industry</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Industry</targetReference>
            </connector>
            <label>Filter in Industry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Cases_Filter</name>
        <label>Open Cases Filter</label>
        <locationX>314</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Assignment_15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_in_Open_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Open_Case</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_OpenCases</targetReference>
            </connector>
            <label>Filter in Open Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Filter</name>
        <label>Owner Filter</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Assignment_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_in_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner.recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Owner</targetReference>
            </connector>
            <label>Filter in Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>StageFilter</name>
        <label>StageFilter</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assignment_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_in_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Stage</targetReference>
            </connector>
            <label>Filter in Stage</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Industry_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StageName_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>User_Records</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>10</limit>
        <object>User</object>
        <outputAssignments>
            <assignToReference>selectedOwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Opportunity Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Assignment</label>
    <loops>
        <name>selected_Oppty</name>
        <label>selected Oppty</label>
        <locationX>50</locationX>
        <locationY>3122</locationY>
        <collectionReference>dataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Ownership</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetListOfOpp</name>
        <label>GetListOfOpp</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Date_Filter</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ownership</name>
        <label>Update Ownership</label>
        <locationX>50</locationX>
        <locationY>3530</locationY>
        <connector>
            <targetReference>SuccessMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>oppListCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>314</locationX>
        <locationY>3638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 20, 20);&quot;&gt;Ownership change failed. Check with System Adminisration.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Filter</name>
        <label>Filter</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetListOfOpp</targetReference>
        </connector>
        <fields>
            <name>FilterLable</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Filter :&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunitySection</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Opportunity:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Filter_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Filter_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stage</name>
                    <choiceReferences>StageName_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CloseDate1</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Filter_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OwnerId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CloseDate2</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RelatedAccount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Related Account:&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Filter_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Filter_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingCity</name>
                    <dataType>String</dataType>
                    <fieldText>BillingCity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Open_Case</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Open Case</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Filter_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Industry</name>
                    <choiceReferences>Industry_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Industry</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ListOfOpp</name>
        <label>ListOfOpp</label>
        <locationX>314</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Oppty_List</targetReference>
        </connector>
        <fields>
            <name>dataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>afterOpenCaseFilterOppList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2cd7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;AccountId&quot;,&quot;guid&quot;:&quot;column-3437&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Owner_Name__c&quot;,&quot;guid&quot;:&quot;column-db7e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Owner&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Owner Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-9f51&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-da27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CloseDate&quot;,&quot;guid&quot;:&quot;column-a462&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Account_Industry__c&quot;,&quot;guid&quot;:&quot;column-19e7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Account Industry&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Account_BillingCity__c&quot;,&quot;guid&quot;:&quot;column-e676&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Account BillingCity&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Open_Case_Count__c&quot;,&quot;guid&quot;:&quot;column-cb26&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Open Case Count&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectOwner</name>
        <label>SelectOwner</label>
        <locationX>50</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selected_Oppty</targetReference>
        </connector>
        <fields>
            <name>SelectNewOwner</name>
            <choiceReferences>User_Records</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select New Owner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessMessage</name>
        <label>SuccessMessage</label>
        <locationX>50</locationX>
        <locationY>3638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(120, 247, 23);&quot;&gt;Ownership Changed Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WarningMessage</name>
        <label>WarningMessage</label>
        <locationX>578</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 23, 253);&quot;&gt;No Opportunity selected for ownership change.Please refine the filter criteria and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>afterBillingCityFilterOppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>afterFilterOppRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>afterIndustryFilterOppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>afterOpenCaseFilterOppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>afterOwnerFilterOppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>afterstageFilterOppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_BillingCity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Closed_Date</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Closed_Date_Range</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Industry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_OpenCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Stage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppListCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>selectedOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
