Thermode/force-app/main/default/flows/ScreenFlowMeetingManager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>ChoiceOneHour</name>
        <choiceText>1 Hour</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>FormulaEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <description>Start Date must be in the future</description>
        <name>FormulaValidStartDateTime</name>
        <dataType>Boolean</dataType>
        <expression>false</expression>
    </formulas>
    <interviewLabel>Screen Flow Meeting Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow Meeting Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateMeeting</name>
        <label>Create meeting</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Event_Creation_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>FormulaEndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>MeetingStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactToCall.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Event_Creation_Success</name>
        <label>Event Creation Success</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;The meeting has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Meeting_Information</name>
        <label>Meeting Information</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateMeeting</targetReference>
        </connector>
        <fields>
            <name>ContactToCall</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>To Do</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Invited Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>To Do</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Meeting_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Meeting_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MeetingStartDateTime</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Meeting Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Start Date must be in the future&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!FormulaValidStartDateTime}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Meeting_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MeetingDuration</name>
                    <choiceReferences>ChoiceOneHour</choiceReferences>
                    <dataType>Number</dataType>
                    <fieldText>Meeting Duration</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Meeting_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
